
button {
  align-items: center;
  background: rgba(255, 255, 255, 0.521);;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  font-size:1rem;
  justify-content: center;
  padding: 10px;
}

button:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}


.splashImage{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.logo{
  max-width: 10vw; 
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.521);
  position: fixed;
  top: 0;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

.nav_link{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-right:1rem ;
  
}

.section{
  padding-top: 20px;
  min-height: 80vh;
  max-width: 80vw;
  text-align: center;
 margin: auto;
}

.footer_Link{
display: flex;
justify-content: space-between;
margin-right:1rem ;
background-color: rgba(255, 255, 255, 0.099);
align-items: center;

}

.fotter_notes{
  text-align: center;
}

.footer_pages{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer_line{
  background-color: rgb(243, 237, 237);
  height:0.5px
}

.footer{
  background-color: rgba(234, 228, 228, 0.521);
  padding: 5px;
}

.Home{
  min-height: 83vh;
}

.App{
  font-family: sans-serif;
  font-size: 18px;
}

#logo_footer{
  max-width: 4.5vh;
}


.userInputProgress{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.question_one{
  display: flex;
  justify-content: space-between;
}

.body_fat_photos{
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.gender_icon{
  display: flex;
  justify-content: center;
  
}

.foodpreference{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.activeProgress{

    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    padding: 14px 22px;
  }
  
.inactiveProgress{
  color: black;

}

.week_day_box{
  display: grid;
  grid-template-columns: 1fr;
}

#question_p{
  font-weight: bold;
  font-size: x-large;
}

.input{
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.container{
  align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    padding: 14px 22px;
}